@charset "UTF-8";


*{
    
    padding: 0px;
    margin: 0px;
    
}

html, body{/*aqui eu coloquei uma configuração geral para o html e o corpo*/
    min-height: 100vh;/*isso configura que a altura não pode ser menor que 100% da tela*/
}

header{
    padding: 0px;
    color: white;
    background-color: black;
    height: 150px;
    font-variant: small-caps;/*aqui eu defino que as letras serão todas maiusculas, mas a iniciais maiores que as outras*/
}

header h1{
    font-size: 2.5em;
    padding: 20px;
    text-align: center;
}

header p{
    font-size: 1.5em;
    color: white;text-align: center;
}


/*
a:hover{
    color: black;
    background-color: white;
}
*/
a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: bolder;
    padding: 3px;
    border-radius: 3px;
    color: black;
    background-color: white;
}

main{
    font-size: 20px;
}

#flor{
    max-height: 500px;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(imagens/background001.jpg);
    border: solid black ;
}

section.normal{
    background-color: rgba(9, 9, 9, 0.353);
}



#livro{
    background-image: url(imagens/background002.jpg);
    border: solid, black;
    max-height: 500px;
    background-position: center center;
    background-attachment: fixed;
}

section{
    
}

section p{
    margin: 50px 25px;
}


footer{
    padding: 10px;
    text-align: center;
    
    
    color: white;
    background-color: black;
}
